<!DOCTYPE html>
<html>
    <head>
        <title>
            My First Django Application
        </title>

        <style>
            td {
                padding-top: 10px;
                padding-bottom: 20px; 
                padding-left: 80px; 
                padding-right: 80px;  
                border: 1px orange solid;
            }
        </style>
    </head>

    <body>
        <table>
            <td>
                <a href="{% url 'home' %}">
                    <span>Home</span>
                </a>
            </td>
            <td>
                <a href="{% url 'aboutus' %}">
                    <span>About Us</span>
                </a>
            </td>
            <td>
                <!-- {% url 'training' %} -->
                <a href="/training/">
                    <span>Training</span>
                </a>
            </td>
            <td>
                <a href="{% url 'blog' %}">
                    <span>Blog</span>
                </a>
            </td>
            <td>
                <a href="{% url 'contactus' %}">
                    <span>Contact Us</span>
                </a>
            </td>                                                
        </table>

        <!-- Changing content will go here - starts -->

        <div>

            {% block content %}

            {% endblock %}

        </div>

        <!-- Changing content will go here - ends -->

    </body>
    </html>        