{% extends 'base.html' %}

{% block content %}
        <h1>Welcome to Chennai!!!</h1>

        <h3>What is Django?</h3>
        <p>
            Django is a free and open-source, Python-based web framework that follows the model–template–views architectural pattern. It is maintained by the Django Software Foundation, an independent organization established in the US as a 501 non-profit. 
        </p>
{% endblock %}
